@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 68% 20%;
    --foreground: 44 100% 92%;
    --card: 221 68% 20%;
    --card-foreground: 44 100% 92%;
    --popover: 221 68% 20%;
    --popover-foreground: 44 100% 92%;
    --primary: 16 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 99% 62%;
    --secondary-foreground: 20 71% 45%;
    --muted: 223 53% 51%;
    --muted-foreground: 210 15% 75%;
    --accent: 43 99% 62%;
    --accent-foreground: 221 68% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 16 100% 56%;
    --input: 223 53% 51%;
    --ring: 16 100% 56%;
    --chart-1: 300 100% 70%;
    --chart-2: 220 100% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0rem;
  }

  .dark {
    --background: 221 68% 20%;
    --foreground: 44 100% 92%;
    --card: 221 68% 20%;
    --card-foreground: 44 100% 92%;
    --popover: 221 68% 20%;
    --popover-foreground: 44 100% 92%;
    --primary: 16 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 99% 62%;
    --secondary-foreground: 20 71% 45%;
    --muted: 223 53% 51%;
    --muted-foreground: 210 15% 75%;
    --accent: 43 99% 62%;
    --accent-foreground: 221 68% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 16 100% 56%;
    --input: 223 53% 51%;
    --ring: 16 100% 56%;
    --chart-1: 300 100% 70%;
    --chart-2: 220 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-tap-highlight-color: transparent;
  }
}
